body{
    font-family: cursive;
    margin: 0;
    padding: 0;
    height: 800px;
    background-image: url(../images/violin.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center center;
}
nav a{
    font-family:'Dancing Script', cursive;
    font-size: 30px;
    display: inline-block;
    margin: 10px ;
    padding: 10px ;
    text-decoration: none;
    color: azure;    
}
nav a:hover{
    color: #303030;
    border: #201414 solid;
    background-color:azure;
}
.fundoNav {
    box-shadow: 0px 5px 4px;
    background-color: #140c0c;
    height: 50px;
}
.faixa_em_baixo{
    background: linear-gradient(to bottom, #303030, #201414);
    margin-top: 770px;
    height: 150px;
    color: azure;
    text-align: center;
}
form{
    font-size: 20px;
    text-align: justify;
    margin: 30px;
}
h3, p{
    padding: 5px;
    display: inline-block;
    margin: 10px;
}
h1{
    font-size: 35px;
    text-align: center;

}
.faixa_em_baixo{
    background: linear-gradient(to bottom, #201414, #140c0c);
    margin-top: 2px;
    height: 180px;
    color: azure;
    text-align: center;
}
ul li{
    font-size: 18px;
    font-family:'Dancing Script', cursive;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
}
h2{
    font-family:'Dancing Script', cursive;
    font-size: 30px;
}